@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    box-sizing: border-box;

}
body {
  background-color: #00642d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;
    color: #fff;
}

h1 {
  font-family: 'Lobster', cursive;
  font-weight: 400;
  color: #fff;
  font-size: 50px;

}

.container {
  width: 400px;
  height: 400px;
  background-color: #25ad62;
}

  .container_field {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .container_field__score {
    visibility: hidden;
    position: absolute;
    background-color: #00642d;
    width: 400px;
    height: 400px;
    z-index: 20;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .active {
    visibility: visible;
  }

  .container_field__score_congratulations{
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    font-weight: 400;
  }

    .container_field_box {
      background-color: #00642d;
      width: 100px;
      height: 100px;
      border: 1px solid #25ad62;
    }

        .container_sheep{
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100px; 
          height: 100px;
          background-image: url('img/hLiGEu-sheep-wonderful-picture-images.png');
          background-size: cover;
          z-index: 10;
        }

        .container_food{
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100px; 
          height: 100px;
          background-image: url('img/5a21c0059d2600.4237821315121612856437.png');
          background-size: cover;
          z-index: 10;
        }

        .container_fence{
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100px; 
          height: 100px;
          background-image: url('img/5a1d1c0e79d409.629516961511857166499.png');
          background-size: cover;
          z-index: 10;
        }

        .container_farmer{
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100px; 
          height: 100px;
          background-image: url('img/clipart1334556.png');
          background-size: cover;
          z-index: 10;
        }

.container-info {
  width: 100%;
  background-color: #fff;
  display: grid;
  grid-template-columns: 40% 30% 30%;

}

  .container-info__start_Btn {
    width: 80%;
    height: 80%;
    margin: 5%;
    background-color: #00642d;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    color: #fff;
    border-radius: 10px;
    

  }

  .container-info__display_score {
    font-size: 20px;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    color: #00642d;
  }

  .container-info__display_time {
    font-size: 20px;
    font-family: 'Lobster', cursive;
    font-weight: 40;
    color: #00642d;
  }

.container_instruction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;

 }
 
  .container_instruction_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;;
    width: 75px;
    height: 25px;
  }

   .container_instruction_row_icon {
     background-color: #b3b7bb;
     width: 25px;
     height: 25px;
     display: flex;
     align-items: center;
     justify-content: center;
     border: 1px solid #000;
     padding: 2px;
   }

   .container_instruction_row_icon:hover {
    background-color: #bdd2e7;

  }

  .fa-solid {
    pointer-events: none;
  }
